@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Gilroy, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.slideShow {
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  text-align: center;
}

.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide img {
  width: 100%;
}

.slide__text {
  color: #F5F5F5;
  font-size: 55px;
  font-weight: 800;
  border: thin solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

.slide__button {
  position: relative;
  display: inline-block;
  width: 500px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: black;
  border: solid thin #FFCC00;
  background: #FFCC00;
  box-shadow: 0 0 12px 6px black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 28px;
  top: -240px;
}

.slide__arrow {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: 800;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slide__arrow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide__arrow-prev:hover, .slide__arrow-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide__dots {
  position: relative;
  text-align: center;
  top: -120px;
}

.slide__dot {
  position: absolute;
  bottom: 4vh;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #BBB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide__dot-1 {
  margin-left: -20px;
}

.slide__dot-3 {
  margin-left: 24px;
}

.slide__dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

#mainDescript {
  background: #F2F2F2;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-top: -108px;
}

.mainDescript__text {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.mainDescript__title {
  font-size: 42px;
  text-align: center;
}

#stages {
  padding-top: 40px;
}

.stages__item {
  display: block;
  margin-left: 140px;
}

.stages__icon {
  float: left;
  width: 90px;
  height: 90px;
  font-size: 70px;
  color: #FFCC00;
  text-align: center;
  /*border: medium solid #FFCC00;*/
  border-radius: 50%;
  padding: 20px;
}

.stages__arrow {
  color: #FFCC00;
  font-size: 35px;
  margin-left: 38px;
  margin-bottom: -24px;
  margin-top: 0;
}

.stages__title {
  text-align: left;
  font-weight: 800;
  padding-left: 120px;
  padding-top: 15px;
  font-size: 37px;
  margin-bottom: 0;
}

.stages__text {
  width: 600px;
  margin-top: 16px;
  text-align: left;
  padding-left: 120px;
  font-size: 24px;
}

#login {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F2F2F2;
}

.registration__icons {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.registration__title {
  font-size: 45px;
  text-align: center;
}

footer {
  background: #FFCC00;
  padding-top: 90px;
  padding-bottom: 1px;
}

.contacts {
  text-align: center;
}

.contacts__phone {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 0;
}

.contacts__email {
  font-size: 34px;
  font-weight: 800;
  margin-top: 0;
}

.contacts__link {
  display: inline-block;
  font-size: 18px;
  border: black solid thin;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 7px;
  background: black;
  margin-left: 2px;
  margin-right: 2px;
}

.contacts__link a {
  color: #FFCC00;
}

.contacts__copyright {
  margin-top: 110px;
  color: #555;
}

.hidden {
  visibility: hidden;
}
